body{
    margin: 0px;
}

#wrapper{
    display: grid;
    grid-template-columns: 33% 1fr 33%;
    grid-template-rows: 10vh 50vh 40vh;
    grid-template-areas: 
    'he he he'
    'mn mn mn'
    'sc sc sc'
}



header {
    grid-area: he;
    background-color: white;
    box-shadow: 0px 10px 10px -10px rgba(0, 0, 0, 0.5); /* Adjust the values as needed */
    z-index: 2; /* Ensure the header is above the main section */
}

main {
    grid-area: mn;
    background-image: url(/img/Landingpage-main-background.jpg);
    background-position:center -1rem;
    background-size:cover;
    background-repeat:no-repeat;
}

section {
    grid-area: sc;
    background-image: url(/img/Landing-page-backgrund.png);
    background-position: right;
    background-size: 36rem;
    background-repeat:no-repeat;
}